.treat-recommend {
    .ant-tabs {
        border: none!important;
    }

    .ant-tabs-tab {
        padding: 12px 0;
    }

    .recommend-bar {
        padding: 6px 0!important;
    }

    .ant-tabs-bar {
        margin: 0 0 10px 0;
    }
    .cdss-recommend-box .recommend-bar > div {
        border-left: none;
        border-right: none;
    }

    .check-more {
        display: inline-block;
        margin-top: 8px;
        margin-bottom: 14px;
        font-size: 14px;
        color: #4175FA;
        cursor: pointer;
    }

    .check-all {
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        border-radius: 2px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        font-size: 14px;
        color: #666666;
        cursor: pointer;

        img {
            display: inline-block;
            margin-left: 6px;
            width: 5px;
            height: 9px;
        }
    }

    .check-all:hover {
        // background: red;
        color: #333333;
    }

    .usage-text {
        white-space:nowrap;
        text-overflow:ellipsis;
        -o-text-overflow:ellipsis;
        overflow:hidden;
    }

    .drug-category {
        margin-top: 16px;
        margin-bottom: 8px;
        font-size: 14px;
        color: #333333;
        // color: black;
        line-height: 16px;
        font-weight: 500;
    }

    .treat {
        line-height: 20px;
        padding-left: 0!important;
    }

    .recommend-bar .auxi-name {
        margin-top: 0;
        padding-right: 10px!important;
    }

    .category-line {
        width: 100%;
        height: 1px;
        background: #EEEEEE;
    }
}

.category-bar:nth-child(2) .category-line {
    display: none;
}

.category-bar:nth-child(2) .drug-category {
    margin-top: 8px;
}