.drug-detail {
    .recommend-bar {
        padding: 50px;
    }

    .ant-tabs-bar {
        border-bottom: none;
    }

    .ant-tabs-tab {
        width: 126px;
        margin-right: 0!important;
        border-radius: 0!important;
        border-bottom: 1px solid #e8e8e8!important;
    }

    .ant-tabs-tab-active {
        padding-bottom: 0!important;
        border-bottom: 1px solid #e8e8e8!important;
    }
}
