// cdss
@header-background-color: #999;
@header-font-size: 15px;
@header-height: 30px;
.cdss-recommend-box {
    position: relative; // padding: 15px;
    padding-bottom: 20px;

    .recommend-bar {
        padding: 6px 0;
        overflow: hidden;
        >div {
            float: left;
            span {
                // padding-right: 24px;
            }
        }

        .ant-tabs-content {
            // padding: 0 20px 12px 20px;
        }
    }
    .name {
        float: left;
        padding-right: 10px;
    }
    .treat-name {
        margin-top: 10px;
        margin-bottom: 20px;
        display: block;
    }
    .copied {
        position: absolute;
        padding: 5px;
        padding-right: 5px !important;
        display: none;
        opacity: .8;
        background: #000000;
        border-radius: 2px;
        color: #fff;
    }
}
